body {
    font-family: 'Open Sans', sans-serif;
}
/* body {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  } */
.bg-image{
    background-color: black;
    /* background-image: url("image/bg-image.jpg"); */
    color: azure;
}
.links{
    text-decoration:none;
}
.pt-6 {
    padding-top: 5rem !important;
  }

.card-img-top{
    max-height: 200px;
    /* max-width: 400px; */
}

/*Profile Card 3*/

  .my-pic {
    max-width: 110px;
    border-radius: 50%;
    border: 4px solid rgb(133, 122, 122);
  }

.contact .icon{
    width: 40px;
    height: 40px;
    padding-top: 4px;
    /* padding-left: -20px; */
    border-radius: 50%;
    border: 4px solid rgb(133, 122, 122);
    margin: 10px;
}
